.digit-display {
    -fx-font-family: "CalcFont";
    -fx-font-size: 24px;
    -fx-text-fill: #61faf8; /* Turquoise screenfont color */
    }

.digit-glow {
    -fx-font-family: "CalcFont";
    -fx-font-size: 24px;
    -fx-text-fill: #61faf8; /* Turquoise screenfont color */
    -fx-effect: dropshadow(gaussian, #e7ffff, 43, 0.03, 0, 0);
    }