/* CSS file for Calculator Application layout.
   Styling done for digital display and button look and behavior.
*/

.digit-display {
    -fx-font-family: "CalcFont";
    -fx-font-size: 24px;
    -fx-text-fill: #61faf8; /* Turquoise screenfont color */
    }

.digit-glow {
    -fx-font-family: "CalcFont";
    -fx-font-size: 24px;
    -fx-text-fill: #61faf8; /* Turquoise screenfont color */
    -fx-effect: dropshadow(gaussian, #e7ffff, 43, 0.03, 0, 0);
    }

.calc-button {
    -fx-background-color: #d4cec0; /* Button Background color */
    -fx-background-radius: 11px;
    }

.calc-button:hover {
    -fx-background-color: #bab5a8;
    -fx-effect: dropshadow(gaussian, #00000066, 6, 0.8, 0, 0);
    }

.calc-button:pressed {
    -fx-background-color: #a9a59a;
    -fx-effect: dropshadow(gaussian, #00000066, 7, 0.8, 0, 0);
    }

.orange-button {
    -fx-background-color: #ec7e0f;
    -fx-background-radius: 7px;
    -fx-effect: innershadow(gaussian, #ffb771, 2, 0.1, -1, 1);
    }

.orange-button:hover {
    -fx-background-color: #d97412;
    -fx-effect: dropshadow(gaussian, #00000033, 4, 0.1, 0, 1);
    -fx-effect: innershadow(gaussian, #ffb771, 4, 0.5, -1, 1);
    }

.orange-button:pressed {
    -fx-background-color: #c16811;
    -fx-effect: dropshadow(gaussian, #000000, 8, 0.1, 0, 1);
    -fx-effect: innershadow(gaussian, #f89330, 4, 0.5, -1, 1);
    }

.dark-button {
    -fx-background-color: #252f34;
    -fx-background-radius: 5px;
    -fx-effect: innershadow(gaussian, #5e6467, 1, 0.1, -1, 1);
    }

.dark-button:hover {
    -fx-background-color: #1f2528;
    -fx-effect: dropshadow(gaussian, #00000066, 4, 0.8, 0, 0);
    -fx-effect: innershadow(gaussian, #5e6467, 1, 0.4, -1, 1);
    }

.dark-button:pressed {
    -fx-background-color: #010101;
    -fx-effect: dropshadow(gaussian, #000000aa, 8, 1, 0, 0);
    -fx-effect: innershadow(gaussian, #4b4e4f, 1, 0.4, -1, 1);
    }

.digit-dim {
    -fx-text-fill: #262d31;
    }
