.digit-display {
    -fx-font-family: "CalcFont";
    -fx-font-size: 24px;
    -fx-text-fill: #61faf8; /* Turquoise screenfont color */
    }

.digit-glow {
    -fx-font-family: "CalcFont";
    -fx-font-size: 24px;
    -fx-text-fill: #61faf8; /* Turquoise screenfont color */
    -fx-effect: dropshadow(gaussian, #e7ffff, 43, 0.03, 0, 0);
    }

.calc-button {
    -fx-background-color: #d4cec0; /* Button Background color */
    -fx-background-radius: 11px;
    }

.calc-button:hover {
    -fx-background-color: #bab5a8;
    -fx-effect: dropshadow(gaussian, #00000033, 4, 0.1, 0, 1);
    }

.orange-button {
    -fx-background-color: #ec7e0f;
    -fx-background-radius: 7px;
    -fx-effect: innershadow(gaussian, #ffb771, 2, 0.1, -1, 1);
    }

.orange-button:hover {
    -fx-background-color: #d97412;
    -fx-effect: dropshadow(gaussian, #00000033, 4, 0.1, 0, 1);
    -fx-effect: innershadow(gaussian, #ffb771, 2, 0.1, -1, 1);
    }

.dark-button {
    -fx-background-color: #252f34;
    -fx-background-radius: 5px;
    -fx-effect: innershadow(gaussian, #5e6467, 1, 0.1, -1, 1);
    }

.dark-button:hover {
    -fx-background-color: #1f2528;
    -fx-effect: dropshadow(gaussian, #00000033, 4, 0.1, 0, 1);
    -fx-effect: innershadow(gaussian, #5e6467, 1, 0.1, -1, 1);
    }
